body{
  background-color:#d83c3c;
}
.container{
  display:flex;
  max-width:1000px;
}
.info {
  font-size:18px;
  color:#ffffff;
  margin-left:10px ;
  font-weight:bold;
  font-family:fantasy;
}
.poster img{
  display:block;
  margin:0 auto;
}
h1{
color:#ffffff;
background-color:#2e6bcc;
padding:10px 10px 10px 10px;
}
.links {
  margin-top:50px;
}
.links img {
  height:50px;
  width:50px;
  border-radius:25px;
}
.links img:HOVER{
  OPACITY:0.3;
}
.nav {
background-color:black;
color:white;
padding:20px 0 20px 0;
text-align:center;
}
.nav li{
  list-style:none;
  display:inline-block;
  padding-right:20px;
}
.nav li a{
  text-decoration:none;
  color:white;
  font-size:20px;
}
.nav li a:hover {
  color:red;
}
