body{
  background-color:#d83c3c;
}
.container{
  display:flex;
}
.info {
  font-size:30px;
  color:#ffffff;
  margin-left:10px;
  margin-top:0px;
  text-shadow: 2px 2px black;
  font-weight:bold;
}
.poster img{
  box-shadow: 1px 1px 1px 1px white;
  display:block;
  height:250px;
  width:200px;
}
h1{
color:#ffffff;
text-shadow:1px 1px black;
background-color:#2e6bcc;
}
.links {

}
.links img {
  height:50px;
  width:50px;
  border-radius:25px;
  margin-right:2px;
}
