body{
  background-color:#151515;
  font-family:fantasy;
}
.container{
  display:flex;
  max-width:1000px;
}
.info {
  font-size:18px;
  color:#3ae01d;
  margin-left:10px ;
  font-weight:bold;
  font-family:fantasy;
}
.poster img{
  display:block;
  margin:0 auto;
}
h1{
color:white;
padding:10px 10px 10px 10px;
font-size:30px;
background-color:#363636;
padding:20px 10px;
margin-top:-10px;
}
.links {
  margin-top:50px;
}
.links img {
  height:50px;
  width:50px;
  border-radius:25px;
}
.links img:HOVER{
  OPACITY:0.5;
}
.nav {
background-color:#363636;
color:white;
padding:20px 0 20px 0;
text-align:right;
}
.nav li{
  list-style:none;
  display:inline-block;
  padding-right:20px;
}
.nav li a{
  text-decoration:none;
  color:white;
  font-size:20px;
}
.nav li a:hover {
  color:black;
  transition:0.5s;
}
.logo {
  float:left;
}
.logo a{
  text-decoration:none;
  color:white;
  margin-left:20px;
  font-size:20px;
}
.banner {
  width:100%;
  display:block;
  margin-top:-15px;
  margin-bottom:10px;
}
.banner > .bannerimg {
  width:100%;
  display:block;
}
.para {
  color : white;
  font-size: 16px;
  font-weight:bold;
}
.secs {
  width : 1100px;
  margin:0 auto;
}
.lang {
  border:2px solid #4a4a4a;
  border-radius:5px;
  margin:20px 10px;
  padding:10px 0;
  float:left;
  max-width:250px;
}
.description {
  font-size: 35px;
  font-weight:bold;
  color:white;
  text-align:center;
  font-family:fantasy;
}
.head {
  font-size:100px;
  color:white;
}
.image img{
  max-width:200px;
  width:200px;
}
.image a:hover {
  opacity:0.5;
}
